# Yeah

El m贸dulo `psycopg2` sirve para acceder a la base de datos y `pygrametl` sirve para hacer ETL (extraer, transformar y loadear).

In [8]:
!pip install pygrametl
!pip install psycopg2

Requirement already satisfied: pygrametl in c:\users\david\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.8)

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: C:\Users\david\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: psycopg2 in c:\users\david\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.9.10)

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: C:\Users\david\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [1]:
import pygrametl
import psycopg2

Este c贸digo siguiente sirve para conectarse a la base de datos. La variable `DATABASE_CONFIG` contiene toda la informaci贸n de como conectarse. Para saber esta informaci贸n vas a la base de datos en DBeaver, le das click derecho y le das a `Editar conexi贸n` donde aparece todo lo necesario. Si m谩s tarde, en el c贸digo, hay alguna query inv谩lida o se produce algun error, se abortar谩 la conexi贸n y es posible que tengas que volver a ejecutar este c贸digo para volver a conectarte. La query en el `cursor.execute(...)` est谩 modificada para que solo te devuelva las cosas de AIMS y AMOS que a fin de cuentas es lo que importa.

In [ ]:
# Diccionario con los datos de conexi贸n de DBeaver
DATABASE_CONFIG = {
    'host': 'postgresfib17.fib.upc.edu', 
    'port': '5432',                 
    'database': 'DBBDA',              
    'user': 'david.gonzalez.acen', 
    'password': 'DB181105'       
}


try:
    conn = psycopg2.connect(**DATABASE_CONFIG)
    print("隆Conectado! ")
    
    cursor = conn.cursor()
    cursor.execute(     """ 
                        SELECT table_schema, table_name
                        FROM information_schema.tables
                        WHERE table_schema IN ('AIMS', 'AMOS')
                        ORDER BY table_schema, table_name
                        """
    )
    tablas = cursor.fetchall()
    
    print("Tablas que tienes:")
    for tabla in tablas: print(tabla)
    
except Exception as e:
    print("Error:", e)

隆Conectado!
Tablas que tienes:
('AIMS', 'flights')
('AIMS', 'maintenance')
('AIMS', 'slots')
('AMOS', 'aircrafts')
('AMOS', 'attachments')
('AMOS', 'forecastedorders')
('AMOS', 'maintenanceevents')
('AMOS', 'operationinterruption')
('AMOS', 'postflightreports')
('AMOS', 'technicallogbookorders')
('AMOS', 'workorders')
('AMOS', 'workpackages')

Hecho esto, tenemos estas variables importantes: 
- `conn` es tal
- `cursor` es tal
- `tablas` es tal

In [23]:
print("\n" + "="*50)
print("EXPLORANDO DATOS DE EJEMPLO")
print("="*50)

# 1. Ver estructura y datos de AIMS.FLIGHTS
print("\n AIMS.FLIGHTS (primeras 3 filas):")
cursor.execute("SELECT * FROM \"AIMS\".\"flights\" LIMIT 5")
flights_data = cursor.fetchall()
for fila in flights_data:
    print(fila)

# Ver columnas de flights
cursor.execute("""
    SELECT column_name, data_type 
    FROM information_schema.columns 
    WHERE table_schema = 'AIMS' AND table_name = 'flights'
    ORDER BY ordinal_position
""")
print("\nColumnas de AIMS.flights:")
for col, tipo in cursor.fetchall():
    print(f"- {col} ({tipo})")

==================================================
EXPLORANDO DATOS DE EJEMPLO
==================================================

 AIMS.FLIGHTS (primeras 3 filas):
(1, 'XY-ACK', datetime.datetime(2023, 1, 1, 3, 23, 56), datetime.datetime(2023, 1, 1, 4, 23, 56), 'Flight', '230101-TIA-GVA-4486-XY-ACK', 'TIA', 'GVA', datetime.datetime(2023, 1, 1, 3, 28, 56), datetime.datetime(2023, 1, 1, 4, 28, 56), False, None, 138, 3, 3)
(2, 'XY-ACK', datetime.datetime(2023, 1, 1, 6, 36, 40), datetime.datetime(2023, 1, 1, 8, 36, 40), 'Flight', '230101-VRN-AOI-1291-XY-ACK', 'VRN', 'AOI', datetime.datetime(2023, 1, 1, 6, 38, 40), datetime.datetime(2023, 1, 1, 8, 38, 40), False, None, 132, 3, 2)
(3, 'XY-ACK', datetime.datetime(2023, 1, 2, 4, 42, 43), datetime.datetime(2023, 1, 2, 8, 42, 43), 'Flight', '230102-LGW-ANR-8878-XY-ACK', 'LGW', 'ANR', datetime.datetime(2023, 1, 2, 4, 42, 43), datetime.datetime(2023, 1, 2, 8, 42, 43), False, None, 103, 4, 2)
(4, 'XY-ACK', datetime.datetime(2023, 2, 17, 20, 19, 21), datetime.datetime(2023, 2, 17, 23, 19, 21), 'Flight', '230217-GYD-TBS-9247-XY-ACK', 'GYD', 'TBS', datetime.datetime(2023, 2, 17, 20, 23, 21), datetime.datetime(2023, 2, 17, 23, 23, 21), False, None, 142, 4, 2)
(5, 'XY-ACK', datetime.datetime(2023, 2, 18, 11, 31, 17), datetime.datetime(2023, 2, 18, 13, 31, 17), 'Flight', '230218-CHQ-PEG-4126-XY-ACK', 'CHQ', 'PEG', datetime.datetime(2023, 2, 18, 11, 46, 17), datetime.datetime(2023, 2, 18, 13, 46, 17), False, None, 111, 3, 2)

Columnas de AIMS.flights:
- id (integer)
- aircraftregistration (character)
- scheduleddeparture (timestamp without time zone)
- scheduledarrival (timestamp without time zone)
- kind (character varying)
- flightid (character)
- departureairport (character)
- arrivalairport (character)
- actualdeparture (timestamp without time zone)
- actualarrival (timestamp without time zone)
- cancelled (boolean)
- delaycode (character)
- passengers (smallint)
- cabincrew (smallint)
- flightcrew (smallint)

In [29]:
# 2. Ver estructura y datos de AMOS.maintenanceevents  
print("\n\nAMOS.MaintenanceEvents (primeras 3 filas):")
cursor.execute("SELECT * FROM \"AMOS\".\"maintenanceevents\" LIMIT 5")
maint_data = cursor.fetchall()
for fila in maint_data:
    print(fila)

AMOS.MaintenanceEvents (primeras 3 filas):
(26483, 'XY-ACK', 'DEB', '5301', datetime.datetime(2023, 1, 1, 20, 56, 58), datetime.timedelta(seconds=7200), 'Maintenance')
(26484, 'XY-ACK', 'IEV', '7220', datetime.datetime(2023, 1, 2, 20, 50, 52), datetime.timedelta(seconds=3600), 'Maintenance')
(26485, 'XY-ACK', 'BTS', '5710', datetime.datetime(2023, 1, 3, 20, 36, 6), datetime.timedelta(seconds=7200), 'Maintenance')
(26486, 'XY-ACK', 'TZX', '7800', datetime.datetime(2023, 1, 4, 11, 0, 1), datetime.timedelta(seconds=18000), 'Maintenance')
(26487, 'XY-ACK', 'CLJ', '2932', datetime.datetime(2023, 1, 6, 17, 32, 23), datetime.timedelta(seconds=3600), 'Maintenance')

In [30]:
# 3. Buscar tablas de LOGBOOK (para los reportes)
print("\n\nBUSCANDO TABLAS DE LOGBOOK/REPORTES:")
cursor.execute("""
    SELECT table_name 
    FROM information_schema.tables 
    WHERE table_schema = 'AMOS' 
    AND table_name ILIKE '%log%' OR table_name ILIKE '%report%'
""")
log_tables = cursor.fetchall()
print("Posibles tablas de logbook:")
for tabla in log_tables:
    print(f"- {tabla[0]}")

BUSCANDO TABLAS DE LOGBOOK/REPORTES:
Posibles tablas de logbook:
- postflightreports
- technicallogbookorders